# SPDX-FileCopyrightText:  © 2018, Niklas Heer <me@nheer.io>
#
# SPDX-License-Identifier: MIT
.dockerignore
.git
.gitignore
.vscode
node_modules
Dockerfile*
LICENSE
README.md
docker-compose*
npm-debug.log
